.cancer-form {
  background-color: rgba(0,0,0,0.25);
  padding: 10%;
}

.title {
  font-size: 3em;
  color: white;
}

.cancerForm {
  display: flex;
  flex-direction: column;
}

.submit-button[disabled] {
  background-color: gray;
}
