.compare-result {
  width: 700px;
  height: 300px;
  overflow-y: auto;
  background-color: white;
}

md-card-header {
  position: absolute;
  width: 100%;
  min-height: 5px;
  top: 0;
  left: 0;
  background: #EA80B0;
}
.title {
  font-size: 32px !important;
  color: #FFFFFF;
}

md-card-content {  
  margin: 50px 0px;
}
