/* You can add global styles to this file, and also import other style files */
body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: RubikRegular;
}

@font-face {
    font-family: RubikRegular;
    src: url('assets/fonts/Rubik-Regular.ttf');
}
