<div class="home">
  <div class="inside-container">
    <cancer-form class="vh-container" (formValue)="activateFormInputs($event);"></cancer-form>
    <div class="result-container vh-container">
      <md-card class="answered">
        <div class="description">
          <div class="titulo">
            ~ {{ answer }}
          </div>
          <div class="probabilidad">
            Probabilidad de presentar cancer de mama: {{ cancerPercentage }}
          </div>
        </div>
        <button md-button type="button" class="submit-button" name="button" (click)="toggleViewAction();">Repetir prueba</button>
      </md-card>
      <results clas="vh-container" #resultsComponent [testingArray]="trainingSet"></results>
    </div>
  </div>
</div>
